{% extends "tasks/base.html" %}

{% block content %}

<h2 class="text-center mb-4 fw-bold text-primary">
My Todo List
</h2>

<!-- ADD TASK FORM -->
<form method="POST" class="d-flex gap-2 mb-4">

{% csrf_token %}

<input 
type="text"
name="title"
class="form-control"
placeholder="Enter new task"
required
>

<button class="btn btn-success">
Add Task
</button>
</form>

<ul class="list-group">

{% for task in tasks %}

<li class="list-group-item mb-3">

<h5>

{{ task.title }}

{% if task.completed %}
<span class="badge bg-success">Completed</span>
{% else %}
<span class="badge bg-warning text-dark">Pending</span>
{% endif %}

</h5>

<small class="text-muted">
Created: {{ task.created_at }}
</small>

<div class="mt-2">

{% if not task.completed %}
<a href="{% url 'complete' task.id %}" class="btn btn-success btn-sm">
Complete
</a>
{% endif %}

<a href="{% url 'update' task.id %}" class="btn btn-primary btn-sm">
Update
</a>

<a href="{% url 'delete' task.id %}" class="btn btn-danger btn-sm">
Delete
</a>

</div>

</li>

{% empty %}

<div class="alert alert-info text-center">
No tasks yet. Add your first task 🚀
</div>

{% endfor %}

</ul>

{% endblock %}