{% extends "tasks/base.html" %}

{% block content %}

<h2 class="text-center mb-4">My Todo List</h2>

<form method="POST" class="d-flex gap-2 mb-4">

{% csrf_token %}

<input 
type="text"
name="title"
class="form-control"
placeholder="Enter new task"
required
>

<button class="btn btn-primary">
Add Task
</button>

</form>

<ul class="list-group">

{% for task in tasks %}

<li class="list-group-item mb-3">

{% if task.completed %}
<h5 class="text-muted text-decoration-line-through">
{{ task.title }}
</h5>
{% else %}
<h5>
{{ task.title }}
</h5>
{% endif %}

<div class="mt-2">

{% if not task.completed %}
<a href="{% url 'complete' task.id %}" class="btn btn-success btn-sm">
Complete
</a>
{% endif %}

<a href="{% url 'update' task.id %}" class="btn btn-primary btn-sm">
Update
</a>

<a href="{% url 'delete' task.id %}" class="btn btn-danger btn-sm">
Delete
</a>

</div>

</li>

{% endfor %}

</ul>

{% endblock %}